<head>
  <meta name="text/html"; charset="utf-8" http-equiv="content-type">
</head>

<body>
  <h1>Welcome to Ninety-Nine Cats!, <%= @user.name %> </h1>

  <p>
    You have successfully signed up!
    Your username is : <%= @user.login %>.
  </p>

  <br>

  <p>
    To log into the site, please click on the link <%= @url %>
  </p>

  <br>

  <p>
    Thanks for joining and have yourself a meowtastic day!
  </p>

</body>
